* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.Proposal-Previews {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 25%;
    height: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    float: left;
    margin-left: 2%;
    margin-top: 1%;
}

#Proposal-1 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#New-Proposal {
    margin-top: 10px;
}

#Enter, #New-Proposal, #Create-Proposal {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.Proposal-Header {
    display: block;
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

#New-Proposal:hover {
    background-color: #45a049;
}

.Proposals {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 33%;
    margin-left: 2.75%;
    margin-top: 1%;
    height: 675px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    float: left;
}

#Proposal-Title {
    text-align: center;
    margin-bottom: 20px;
    color: #454d45;
}

#Proposal-Text {
    width: 100%;
    height: 500px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}

#AI-Title {
    text-align: center;
}

.AI-Generation {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 33%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    float: left;
    margin-top: 1%;
    margin-left: 2.75%;
    height: 675px;
}

#Prompt-Statement,
#Prompt-Response {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
}

#Prompt-Statement {
    height: 150px;
}

#Prompt-Response {
    height: 150px;
    resize: none;
}

#Enter {
    margin: 20px auto;
}

#Enter:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

